body {
     color: #333;
     font-family: Arial, Helvetica, sans-serif;
     max-width: 650px;
     margin: 0 auto;
     padding: 0 16px;

     display: flex;
     flex-direction: column;
     min-height: 100vh;
}

.main-content {
     flex-grow: 1;
}

footer {
     color: #888;
     border-top: 1px solid #eee;
     margin-top: 16px;
     padding: 16px 0;
}


header {
     margin: 16px 0 48px;
}

header a {
     color: #888;
     margin: 0 8px 0 0;
     text-decoration: none;
     border-right: 1px solid #ccc;
     padding-right: 12px;
}

header a:last-child {
     border: 0;
}

h1 {
     font-size: 64px;
     font-weight: 700;
     margin-bottom: 16px;
}

input {
     border: 1px solid #ccc;
     padding: 8px
}

button {
     cursor: pointer;
     border: 1px solid #888;
     background: #888;
     color: #fff;
     padding: 8px;
}

.message {
     padding: 10px 0;
     font: 14px arial;
     color: #888
}

.message p {
     padding: 5px 0;
     margin: 0;
}

.message p#error {
     color: #ff0000;
}
